# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/
/build/
/.svelte-kit/
/adapter/index.js
/adapter/src/runtime/php-templates.ts
/docs/**/*.md
debug_payload.json
